colorama==0.4.6
grpcio==1.80.0
grpcio-tools==1.78.1
iniconfig==2.3.0
librt==0.8.1
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pluggy==1.6.0
protobuf==6.33.5
Pygments==2.19.2
pytest==8.4.2
PyYAML==6.0.3
ruff==0.15.4
setuptools==82.0.0
typing_extensions==4.15.0
